{{define "Title"}}
<link rel="stylesheet" href="/static/css/index.css" />
<title>基本资料-用户中心-GOSNS</title>
{{end}}

{{define "Main"}}
<div class="block">
 <ul class="user_menu"><li class="user_menu_sel"><a href="?t=">基本资料</a></li><li><a href="?t=tx">头像设置</a></li><li><a href="#">修改密码</a></li><div style="clear:both"></div></ul>
<table class="usertb">
  <tr><td width="50px" >邮箱</td><td><input type="text" style="width:300px;" value="{{.info.Email}}" /></td></tr>
  <tr><td>用户名</td><td><input type="text" style="width:300px;" value="{{.info.Username}}" /></td></tr>
  <tr><td>上次时间</td><td><input type="text" style="width:300px;" value="{{.info.Lasttime}}" /></td></tr>
  <tr><td>上次IP</td><td><input type="text" style="width:300px;" value="{{.info.Lastip}}" /></td></tr>
</table>
</div>
{{end}}

{{define "TopMenu"}}
<li ><a  href="/">首页</a></li><li><a href="/article/list" class="topcur">文章中心</a></li><li><a href="/group/list">讨论小组</a></li><li><a href="#">图册精选</a></li>
<li><a href="#">社区问答</a></li><li><a href="/admin" target="_blank">后台管理</a></li>
{{end}}